.BottomBox {
    width: 100%;
    height: 400px;
    background: #424446;
}

.InfoParagraph {
    padding: 50px;
    width: 600px;
}

.InfoTitle {
    color: #d1d2d3;
    font-size: 40px;
    font-family: Consolas, Serif, Sans-serif, cursive, fantasy, Monospace;
}

.InfoContent {
    color: #919293;
}
