.BottomBox {
    width: 100%;
    height: 300px;
    background: #d1d2d3;
}

.InfoParagraph {
    padding: 50px;
    width: 600px;
}

.InfoTitle {
    color: #f0f0f0; 
    font-size: 40px;
    font-weight: 200;
}

.InfoContent {
    color: #888888;
    font-weight: 100;
}