.ArticleDetail {
    margin-top: 80px;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    padding-top: 50px;
    color: #404040;
}

.ArticleDetail .Avatar {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 9;
    background: #7a7a7a;
    padding: 0px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 1101px) {
    .left-component {
        float: left;
        width: 70%;
        height: 400px;
    }
    .right-component {
        float: right;
        width: 30%;
        height: 400px;
        position: relative;
    }
    .down-component {
        float: left;
        width: 70%;
        min-height: 500px;
        padding: 50px 4%;
    }

    #description-title-text {
        color: #404040;
        font-weight: 350;
        padding: 20px;
        border-bottom-style: groove;
        border-top-style: groove;
    }
    #description-text {
        word-break: break-all;
        color: #303030;
        font-weight: 100;
        padding-top: 30px;
        font-size: 1.4em;
        line-height: 1.2em;
    }
    #post-subtitle-text {
        word-break: break-all;
        font-size: 25px;
        text-align: left;
        font-weight: 350;
        color: #707070;
    }

    #post-title-text {
        word-break: break-all;
        color: #404040;
        border-top-style: groove;
        padding-top: 15px;
        margin-bottom: 15px;
        text-align: left;
    }

    #tag-link {
        font-size: 20px;
        text-align: left;
        color: #808080;
    }

    #ad-link-title {
        word-break: break-all;
        font-size: 18px;
        text-align: left;
        color: #404040;
        margin-top: 5px;
    }

    #ad-link-text {
        word-break: break-all;
        font-size: 18px;
        text-align: left;
        font-weight: 350;
        color: #707070;
    }
    #owner-info {
        width: 100%;
        display: inline-flex;
        text-align: left;
        font-size: 25px;
        font-weight: 350;
        color: #707070;
    }

    #due-date-title {
        font-size: 18px;
        text-align: left;
        color: #404040;
        margin-top: 15px;
    }

    #due-date-text {
        word-break: break-all;
        font-size: 18px;
        text-align: left;
        font-weight: 350;
        color: #707070;
    }

    #unique-url-text {
        margin-top: 10px;
        float: left;
        width: 74%;
        overflow: auto;
        -ms-overflow-style: none;
    }
    #unique-url-text::-webkit-scrollbar {
        display: none !important;
    }
    /*

    
    #tag-link-list{
        float: left;
        width: 50%;
    }
    */
    .url-component {
        border-bottom-style: groove;
        width: 100%;
        margin-top: 50px;
        padding-bottom: 50px;
        height: 50px;
    }

    .stat {
        float: right;
        width: 30%;
        padding-top: 200px;
        border-bottom-style: groove;
    }

    #stat-text {
        color: #404040;
        font-weight: 350;
        padding-bottom: 20px;
        border-bottom-style: groove;
    }

    .earn-point {
        padding-bottom: 30px;
        border-bottom-style: groove;
    }

    #earn-point-text {
        font-weight: 350;
    }

    #point-number {
        margin-top: 10px;
        font-size: 1.5em;
    }

    .achieve-bar-component {
        margin-top: 25px;
    }

    #achieve-bar-name {
        font-size: 18px;
        text-align: left;
        color: #404040;
    }

    #toggle-mine-button {
        float: left;
    }

    .participate {
        border-bottom-style: groove;
        padding-top: 20px;
        width: 100%;
    }

    #participate-button {
        width: 160px;
        margin-bottom: 20px;
    }
    #url-copy-button {
        margin-bottom: 10px;
        margin-left: 5%;
        float: right;
        width: 21%;
    }
}
@media screen and (max-width: 1100px) {
    .left-component {
        float: left;
        width: 100%;
    }

    #post-title-text {
        float: left;
        width: 100%;
    }

    #post-subtitle-text {
        float: left;
        width: 100%;
    }

    #due-date-text {
        float: left;
        width: 100%;
    }

    #tag-link-list {
        float: left;
        width: 100%;
    }

    #participate-button {
        width: 100%;
    }

    #url-component {
        width: 100%;
    }

    .achieve-bar-component {
        width: 100%;
    }

    #statistics-image {
        width: 100%;
    }
}

#description-text {
    white-space: pre-line;
}
