.ArticleDetail {
    margin-top: 80px;
    width: 840px;
    margin-left: auto;
    margin-right: auto;
    color: #404040;
}

.ArticleDetail * {
    text-align: left;
}

.progress-bar {
    text-align: center;
}

.ArticleDetail .article-thumbnail-wrapper #article-thumbnail {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.ArticleDetail .section-wrapper {
    margin: 10px;
    padding: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #dadada;
}

.ArticleDetail .Avatar {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #7a7a7a;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.ArticleDetail #owner-image {
    margin: auto;
    display: inline-block;
}

.ArticleDetail .owner-info #owner-info-text {
    display: inline-flex;
    font-size: 20px;
    margin: 0px 1px 0px 1px;
}

.ArticleDetail h1 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 600;
}

.ArticleDetail h2 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
}

.ArticleDetail p {
    font-size: 18px;
    white-space: pre-line;
}

.ArticleDetail #tag-link {
    padding: 0px;
}

.ArticleDetail .tag-items {
    list-style-type: none;
    display: inline-block;
    margin-right: 3px;
}

.ArticleDetail .tag-items:hover {
    color: #fa4252;
    cursor: pointer;
    transition: 0.3s;
}

.ArticleDetail #due-date-text,
.ArticleDetail #target-view-text {
    font-size: 15px;
    color: #404040;
}

.ArticleDetail .aggregate-info-window {
    margin-bottom: 20px;
}

.ArticleDetail .thumbnail-left {
    width: 70%;
    margin: 0px;
    display: inline-block;
}

.ArticleDetail .thumbnail-right {
    width: 30%;

    height: 100%;
    display: inline-block;
}

.ArticleDetail .share-window-participant {
    padding: 8px;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1); /* 그림자 */
    border-radius: 5px;
}

.ArticleDetail #right-title {
    text-align: center;
    font-size: 17px;
    margin-bottom: 5px;
    font-weight: 600;
}

.ArticleDetail .right-button-submit {
    margin-left: 15%;
    text-align: center;
    width: 70%;
    margin-right: 15%;
}

.ArticleDetail #share-btn-box {
    text-align: center;
    display: flex;
}

.ArticleDetail #facebook-share-btn {
    width: 30px;
    height: 30px;
}

.ArticleDetail .share-btn {
    width: 40px;
    height: 40px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 3px;
    flex: 0 1 auto;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1); /* 그림자 */
}

.ArticleDetail #url-copy-button {
    width: 100%;
    height: 100%;
    padding-top: 7px;
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
    background: #fa4252;
}

[data-tooltip-text]:hover {
    position: relative;
    cursor: pointer;
}

[data-tooltip-text]:after {
    -webkit-transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -moz-transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;

    background-color: rgba(0, 0, 0, 0.8);

    -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
    box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    color: #ffffff;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
    padding: 7px 12px;
    position: absolute;
    min-width: 70px;
    max-width: 300px;
    word-wrap: break-word;

    z-index: 9999;

    opacity: 0;
    left: -9999px;
    top: 90%;

    content: attr(data-tooltip-text);
}

[data-tooltip-text]:hover:after {
    top: 130%;
    left: 0;
    opacity: 1;
}

#link-icon {
    display: inline;
}

.ArticleDetail .kakao-share-btn {
    background: #fae103;
}

#kakao-share-icon {
    width: 100%;
    height: 100%;
}

.ArticleDetail .unique-url-wrapper {
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1); /* 그림자 */
    border-radius: 5px;
    overflow: scroll;
    padding: 3px 10px 3px 10px;
    margin-bottom: 10px;
}
/* 
@media screen and (min-width: 1101px) {
    .left-component {
        float: left;
        width: 70%;
        height: 400px;
    }
    .right-component {
        float: right;
        width: 30%;
        height: 400px;
        position: relative;
    }
    .down-component {
        float: left;
        width: 70%;
        min-height: 500px;
        padding: 50px 4%;
    }

    #description-title-text {
        color: #404040;
        font-weight: 350;
        padding: 20px;
        border-bottom-style: groove;
        border-top-style: groove;
    }
    #description-text {
        word-break: break-all;
        color: #303030;
        font-weight: 100;
        padding-top: 30px;
        font-size: 1.4em;
        line-height: 1.2em;
    }
    #post-subtitle-text {
        word-break: break-all;
        font-size: 25px;
        text-align: left;
        font-weight: 350;
        color: #707070;
    }

    #post-title-text {
        word-break: break-all;
        color: #404040;
        border-top-style: groove;
        padding-top: 15px;
        margin-bottom: 15px;
        text-align: left;
    }

    #tag-link {
        font-size: 20px;
        text-align: left;
        color: #808080;
    }

    #ad-link-title {
        word-break: break-all;
        font-size: 18px;
        text-align: left;
        color: #404040;
        margin-top: 5px;
    }

    #ad-link-text {
        word-break: break-all;
        font-size: 18px;
        text-align: left;
        font-weight: 350;
        color: #707070;
    }
    #owner-info {
        width: 100%;
        display: inline-flex;
        text-align: left;
        font-size: 25px;
        font-weight: 350;
        color: #707070;
    }

    #due-date-title {
        font-size: 18px;
        text-align: left;
        color: #404040;
        margin-top: 15px;
    }

    #due-date-text {
        word-break: break-all;
        font-size: 18px;
        text-align: left;
        font-weight: 350;
        color: #707070;
    }

    #unique-url-text {
        margin-top: 10px;
        float: left;
        width: 74%;
        overflow: auto;
        -ms-overflow-style: none;
    }
    #unique-url-text::-webkit-scrollbar {
        display: none !important;
    }

    
    #tag-link-list{
        float: left;
        width: 50%;
    }
    
    .url-component {
        border-bottom-style: groove;
        width: 100%;
        margin-top: 50px;
        padding-bottom: 50px;
        height: 50px;
    }

    .stat {
        float: right;
        width: 30%;
        padding-top: 200px;
        border-bottom-style: groove;
    }

    #stat-text {
        color: #404040;
        font-weight: 350;
        padding-bottom: 20px;
        border-bottom-style: groove;
    }

    .earn-point {
        padding-bottom: 30px;
        border-bottom-style: groove;
    }

    #earn-point-text {
        font-weight: 350;
    }

    #point-number,
    #no-stat {
        margin-top: 10px;
        font-size: 1.5em;
    }

    .achieve-bar-component {
        margin-top: 25px;
    }

    #achieve-bar-name {
        font-size: 18px;
        text-align: left;
        color: #404040;
    }

    #toggle-mine-button {
        float: left;
    }

    .participate {
        border-bottom-style: groove;
        padding-top: 20px;
        width: 100%;
    }

    #participate-button {
        width: 160px;
        margin-bottom: 20px;
    }
    #url-copy-button {
        margin-bottom: 10px;
        margin-left: 5%;
        float: right;
        width: 21%;
    }
}
@media screen and (max-width: 1100px) {
    .left-component {
        float: left;
        width: 100%;
    }

    #post-title-text {
        float: left;
        width: 100%;
    }

    #post-subtitle-text {
        float: left;
        width: 100%;
    }

    #due-date-text {
        float: left;
        width: 100%;
    }

    #tag-link-list {
        float: left;
        width: 100%;
    }

    #participate-button {
        width: 100%;
    }

    #url-component {
        width: 100%;
    }

    .achieve-bar-component {
        width: 100%;
    }

    #statistics-image {
        width: 100%;
    }
}

#description-text {
    white-space: pre-line;
} */
