.ArticleDetail{
    position: absolute;
    left: 50%;
    margin-left:-600px;
    width : 1200px;
    padding-top:50px;
}
@media screen and (min-width: 1101px)
{
    
    .left-component{
        float: left;
        width: 70%;
        height: 400px;
    }
    .right-component{
        float: right;
        width: 30%;
        height: 400px;
        position:relative; 
    }
    .down-component{
        float: left;
        width: 70%;
    }
    #post-subtitle-text{
        font-size: 25px;
        text-align: left;
        font-weight: 350;
        color: #707070;
    }

    #post-title-text{
        font-size: 40px;
        text-align: left;
    }

    #tag-link{
        font-size: 20px;
        text-align: left;
        color: #808080;
    }

    #due-date-title{
        font-size: 18px;
        text-align: left;
        color: #404040;
        margin-top:30px;
    }
    
    #due-date-text{
        font-size: 18px;
        text-align: left;
        font-weight: 350;
        color: #707070;
    }
    /*

    
    #tag-link-list{
        float: left;
        width: 50%;
    }
    */
    .url-component{
        position: absolute;
        bottom: 0;
    }

    .achieve-bar-component{
        margin-top:25px;
    }

    #achieve-bar-name{
        font-size: 18px;
        text-align: left;
        color: #404040;
    }
    
    #statistics-image{
        float: right;
        width: 50%;
    }
    
    #toggle-mine-button{
        float: left;
    }

    #participate-button{
        width: 160px;
        position: absolute;
        right: 100px;
        bottom: 0px;
        margin-bottom: 10px;
    }
    #url-component{
        float: right;
        width: 50%;
    }
    
}
@media screen and (max-width: 1100px)
{
    
    .left-component{
        float: left;
        width: 100%;
    }
    
    #post-title-text{
        float: left;
        width: 100%;
    }
    
    #post-subtitle-text{
        float: left;
        width: 100%;
    }
    
    #due-date-text{
        float: left;
        width: 100%;
    }
    
    #tag-link-list{
        float: left;
        width: 100%;
    }
    
    #participate-button{
        width: 100%;
    }
    
    #url-component{
        width: 100%;
    }
    
    .achieve-bar-component{
        width: 100%;
    }
    
    #statistics-image{
        width: 100%;
    }
}