.ResetPW #title-background {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0.6;
    max-height: 400px;
    object-fit: cover;
    -webkit-mask-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 1)),
        to(rgba(0, 0, 0, 0))
    );
}

.ResetTitle {
    position: relative;
    color: #303234;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    padding-bottom: 30px;
}

#reset-title {
    font-weight: 550;
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

.form-group {
    min-height: 41px;
    box-shadow: none !important;
}
.form-group:focus {
    border-color: #708bc5;
}
.form-group,
.btn {
    border-radius: 2px;
}

.ResetPWForm {
    margin-top: 100px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: #7a7a7a;
    border-radius: 2px;
    margin-bottom: 15px;
    font-size: 16px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    padding: 30px;
    position: relative;
}
.ResetPWForm .btn {
    font-size: 16px;
    font-weight: bold;
    background: #708bc5;
    border: none;
    margin-bottom: 20px;
}
.ResetPWForm .btn:hover,
.login-form .btn:focus {
    background: #5060b8;
    outline: none important;
}
