.ArticlePreview {
    margin-top: 20px;
    margin-bottom: 80px;
    width: 630px;
    margin-left: auto;
    margin-right: auto;
    color: #404040;
}

.ArticlePreview * {
    text-align: left;
}

.progress-bar {
    text-align: center;
}

.ArticlePreview .article-thumbnail-wrapper #article-thumbnail {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    width: 100%;
    border-radius: 7px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.ArticlePreview .section-wrapper {
    margin: 20px auto 20px auto;
    padding: 7px;
    width: 80%;
    border-bottom: 1px solid #dadada;
}

.ArticlePreview .Avatar {
    margin-right: 7px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #7a7a7a;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.ArticlePreview #owner-image {
    margin: auto;
    display: inline-block;
}

.ArticlePreview .owner-info #owner-info-text {
    display: inline-flex;
    font-size: 15px;
    margin: 0px 1px 0px 1px;
}

.ArticlePreview h1 {
    margin-top: 7px;
    margin-bottom: 3px;
    font-size: 20px;
    font-weight: 600;
}

.ArticlePreview h2 {
    margin-bottom: 7px;
    font-size: 15px;
    font-weight: 400;
}

.ArticlePreview p {
    font-size: 13px;
    white-space: pre-line;
}

.ArticlePreview #tag-link {
    padding: 0px;
}

.ArticlePreview .tag-items {
    list-style-type: none;
    display: inline-block;
    margin-right: 2px;
}

.ArticlePreview #due-date-text,
.ArticlePreview #target-view-text {
    font-size: 11px;
    color: #404040;
}

.ArticlePreview .aggregate-info-window {
    margin-bottom: 15px;
}

.ArticlePreview .thumbnail-left {
    width: 70%;
    margin: 0px;
    display: inline-block;
}

.ArticlePreview .thumbnail-right {
    width: 30%;

    height: 100%;
    display: inline-block;
}

.ArticlePreview #right-title {
    text-align: center;
    font-size: 13px;
    margin-bottom: 3px;
    font-weight: 600;
}

.ArticlePreview .right-button-submit {
    margin-left: 15%;
    text-align: center;
    width: 70%;
    font-size: 10px;
    margin-right: 15%;
}

#link-icon {
    display: inline;
}

.ArticlePreview .unique-url-wrapper {
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1); /* 그림자 */
    border-radius: 3px;
    overflow: scroll;
    padding: 2px 7px 2px 7px;
    margin-bottom: 7px;
}

.ArticlePreview .closed-text {
    text-align: center;
    color: #7a7a7a;
    margin-bottom: 7px;
}
