.popover {
    width: 600px;
    padding-bottom: 5px;
}

u1 {
    font-size: 18px;
    color: #5e5e5e;
}
u0 {
    font-size: 20px;
}

up {
    color: crimson;
}

#UserImage {
    background: #708bc5;
}