.popover {
    width: 600px;
    padding-bottom: 5px;
}

.popover #title {
    font-size: 18px;
    color: #5e5e5e;
}

.popover #userPoint {
    color: crimson;
}

.popover #UserInfoImage {
    background: #7a7a7a;
}

#UserImage {
    background: #7a7a7a;
}