/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#button1 {
    border: none;
    background-color: transparent;
}
#createTabs {
    margin-bottom: 50px;
    margin-top: 10px;
}
.ArticleCreate {
    margin-top: 30px;
}

#post-explain-input {
    resize: none;
    height: 200px;
}

#post-point-deduction {
    border: none;
}

.ArticleCreate .form-control {
    width: 500px;
}

#createTabs text {
    font-size: 20px;
}

#post-thumbnail-preview {
    width: 500px;
    border: 1px solid #c0c0c0;
    margin-top: 5px;
}

.previewText {
    margin-top: 5px;
}

#next-button {
    margin-top: 50px;
    margin-bottom: 50px;
}

#next-tag-button {
    margin-top: 50px;
    margin-bottom: 500px;
}

#submit {
    clear: both;
    margin-bottom: 30px;
}

.tagSelect .react-tags {
    position: relative;
    padding: 6px 0 0 6px;
    border: 1px solid #d1d1d1;
    border-radius: 1px;
    margin-bottom: 20px;
    width: 1000px;
    /* shared font styles */
    font-size: 1em;
    line-height: 1.2;
    /* clicking anywhere will focus the input */
    cursor: text;
}

.tagSelect .react-tags.is-focused {
    border-color: #b1b1b1;
}

.tagSelect .react-tags__selected {
    display: inline;
}

.tagSelect .react-tags__selected-tag {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 6px 6px 0;
    padding: 6px 8px;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    background: #f1f1f1;

    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
}

.tagSelect .react-tags__selected-tag:after {
    content: '\2715';
    color: #aaa;
    margin-left: 8px;
}

.tagSelect .react-tags__selected-tag:hover,
.tagSelect .react-tags__selected-tag:focus {
    border-color: #b1b1b1;
}

.tagSelect .react-tags__search {
    display: inline-block;

    /* match tag layout */
    padding: 7px 2px;
    margin-bottom: 6px;

    /* prevent autoresize overflowing the container */
    max-width: 100%;
}

@media screen and (min-width: 30em) {
    .tagSelect .react-tags__search {
        /* this will become the offsetParent for suggestions */
        position: relative;
    }
}

.tagSelect .react-tags__search input {
    /* prevent autoresize overflowing the container */
    max-width: 100%;

    /* remove styles and layout from this element */
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;

    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
}

.tagSelect .react-tags__search input::-ms-clear {
    display: none;
}

.react-tags__suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

@media screen and (min-width: 30em) {
    .react-tags__suggestions {
        width: 200px;
    }
}

.react-tags__suggestions ul {
    margin: 4px -1px;
    padding: 0;
    list-style: none;
    background: white;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.react-tags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 6px 8px;
}

.react-tags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}

.react-tags__suggestions li:hover {
    cursor: pointer;
    background: #eee;
}

.react-tags__suggestions li.is-active {
    background: #b7cfe0;
}

.react-tags__suggestions li.is-disabled {
    opacity: 0.5;
    cursor: auto;
}
