/* The switch - the box around the slider */
.ArticleCreate {
    margin-top: 100px;
    width: 840px;
    margin-left: auto;
    margin-right: auto;
    color: #404040;
    text-align: left;
}

.ArticleCreate .CreateHeadTitle {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #404040;
}

.ArticleCreate .CreateHeadContent {
    font-size: 22px;
    color: rgb(117, 117, 117);
    font-weight: 500;
}

.ArticleCreate .CreateHeadTabs {
    font-size: 14px;
    line-height: normal;
    text-align: left;
}

.ArticleCreate .section-wrapper {
    margin: 10px;
    padding: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.ArticleCreate .CreateBody {
    background: #f7f7f7;
    padding: 25px;
    margin-bottom: 100px;
    border-radius: 10px;
}

.ArticleCreate .form-label {
    font-size: 18px;
    font-weight: 800;
    text-align: left;
    line-height: normal;
}

.ArticleCreate #input-warning {
    font-size: 0.8rem;
    color: red;
}

.ArticleCreate #invalid-input{
    background: #f8e0e4;
}

.switch {
    position: relative;
    margin: 0 10px;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch #toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-group {
    display: inline-flex;
    margin-bottom: 10px;
}

.toggle-group .helper {
    font-size: 15px;
    color: rgb(117, 117, 117);
    font-weight: 500;
    margin: auto;
}

.toggle-group .openToggle-helper-content {
    margin: 5px;
}

.switch #post-url-input {
    width: 500px;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.ArticleCreate .next-tab-btn {
    background-color: #fa4252 !important;
    font-size: 20px;
    font-weight: 800;
    width: 100%;
    border-style: hidden;
}

.ArticleCreate .next-tab-btn:hover {
    background-color: #f03757 !important;
    cursor: pointer;
}

input:checked + .slider {
    background-color: #fa4252;
}

input:focus + .slider {
    box-shadow: 0 0 1px #fa4252;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#button1 {
    border: none;
    background-color: transparent;
}

#post-explain-input {
    resize: none;
    height: 400px;
}

#post-point-deduction {
    border: none;
    background: inherit;
}

#post-thumbnail-preview {
    width: 500px;
    border: 1px solid #c0c0c0;
    margin-top: 5px;
}

#post-calendar-input {
    border-style: hidden;
}

.previewText {
    margin-top: 5px;
}

#next-tag-button {
    margin-top: 50px;
}

#submit {
    clear: both;
    margin-bottom: 30px;
}

.ArticleCreate #calender-wrapper {
    text-align: center;
    width: 100%;
}

.ArticleCreate #select-calender {
    display: inline-block;
}

.tagSelect .react-tags {
    position: relative;
    padding: 6px 0 0 6px;
    background: white;
    border: 1px solid #d1d1d1;
    border-radius: 1px;
    margin-bottom: 20px;
    /* shared font styles */
    font-size: 1em;
    line-height: 1.2;
    /* clicking anywhere will focus the input */
    cursor: text;
}

.tagSelect .react-tags.is-focused {
    border-color: #b1b1b1;
}

.tagSelect .react-tags__selected {
    display: inline;
}

.tagSelect .react-tags__selected-tag {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 6px 6px 0;
    padding: 6px 8px;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    background: #f1f1f1 !important;
    width: fit-content;
    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
}

.tagSelect .react-tags__selected-tag:after {
    content: '\2715';
    color: #aaa;
    margin-left: 8px;
}

.tagSelect .react-tags__selected-tag:hover,
.tagSelect .react-tags__selected-tag:focus {
    border-color: #b1b1b1;
}

.tagSelect .react-tags__search {
    display: inline-block;

    /* match tag layout */
    padding: 7px 2px;
    margin-bottom: 6px;

    /* prevent autoresize overflowing the container */
    max-width: 100%;
}

@media screen and (min-width: 30em) {
    .tagSelect .react-tags__search {
        /* this will become the offsetParent for suggestions */
        position: relative;
    }
}

.tagSelect .react-tags__search input {
    /* prevent autoresize overflowing the container */
    max-width: 100%;

    /* remove styles and layout from this element */
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;

    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
}

.tagSelect .react-tags__search input::-ms-clear {
    display: none;
}

.react-tags__suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

@media screen and (min-width: 30em) {
    .react-tags__suggestions {
        width: 200px;
    }
}

.react-tags__suggestions ul {
    margin: 4px -1px;
    padding: 0;
    list-style: none;
    background: white;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.react-tags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 6px 8px;
}

.react-tags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}

.react-tags__suggestions li:hover {
    cursor: pointer;
    background: #eee;
}

.react-tags__suggestions li.is-active {
    background: #b7cfe0;
}

.react-tags__suggestions li.is-disabled {
    opacity: 0.5;
    cursor: auto;
}
