.sign-in {
    margin-top: 200px;
    margin-bottom: 100px;
}

.form-control {
    min-height: 41px;
    margin-top: 1px;
    background: #fff;
    box-shadow: none !important;
    border-color: #e3e3e3;
}
.form-control:focus {
    border-color: #fa4252;
}


.form-control,
.btn {
    border-radius: 2px;
}

.sign-in-form {
    width: 350px;
    margin: 0 auto;

    color: #7a7a7a;
    border-radius: 2px;
    margin-bottom: 35px;
    font-size: 13px;
    background: #f5f3f1;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    position: relative;
}
.sign-in-form h2 {
    font-size: 22px;
    margin: 35px 0 25px;
}
.sign-in-form .sign-in-user-icon {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -50px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #fa4252;
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.sign-in-form .sign-in-user-icon img {
    width: 100%;
}
.sign-in-form input[type='checkbox'] {
    margin-top: 2px;
    margin-right: 5px;
}
.sign-in-form .btn {
    font-size: 16px;
    font-weight: bold;
    background: #fa4252;
    border: none;
    margin-bottom: 20px;
}
.sign-in-form .btn:hover {
    background: #fd4555;
    outline: none important;
}
.sign-in-form a {
    color: #fff;
    text-decoration: underline;
}

.sign-in-form .remember {
    text-align: left;
}

.sign-in-form .forgot-password {
    padding-left: 70px;
    color: #7a7a7a;
}

.sign-in-form a:hover {
    text-decoration: none;
}
.sign-in-form form a {
    color: #7a7a7a;
    text-decoration: none;
}
.sign-in-form form a:hover {
    text-decoration: underline;
}

.sign-in-form #signin-button:active{
    background: #fd4555;
}

