.sign-up {
    margin-top: 200px;
    margin-bottom: 100px;
}

.form-group .form-control {
    min-height: 41px;
    background: rgb(229, 241, 253);
    box-shadow: none !important;
    border-color: #e3e3e3;
}

.form-group .form-control:focus {
    border-color: #888787;
    border-width: 0.5px;
}

.btn {
    border-radius: 2px;
}

.sign-up-form {
    width: 350px;
    margin: 0 auto;

    color: #7a7a7a;
    border-radius: 2px;
    margin-bottom: 15px;
    font-size: 13px;
    background: #f5f3f1;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    position: relative;
}

.sign-up-form .tagSelect .react-tags {
    width: 100%;
    background: white;
}

.sign-up-form h2 {
    font-size: 22px;
    margin: 35px 0 25px;
}
.sign-up-form .Avatar {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -50px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #fa4252;
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.sign-up-form .Avatar img {
    width: 100%;
}

.sign-up-form input[type='checkbox'] {
    margin-top: 2px;
}

.sign-up-form .btn {
    font-size: 16px;
    font-weight: bold;
    background: #fa4252;
    border: none;
    margin-bottom: 20px;
}

.sign-up-form .btn:hover{
    background: #f03757;
    outline: none important;
}

.sign-up-form .btn:hover{
    background: #f03757;
    outline: none important;
}

.sign-up-form a:hover {
    text-decoration: underline;
}

.sign-up-form form a {
    color: #7a7a7a;
    text-decoration: none;
}

.sign-up-form form a:hover {
    text-decoration: underline;
}

.form-group .input-tag-unvalid {
    color: red;
}

.form-group #email-input-invalid{
    background: #f8e0e4;
}

.form-group #pw-check-invalid {
    background: #f8e0e4;
}

.form-group #pw-input-invalid {
    background: #f8e0e4;
}

.form-group #fname-invalid {
    background: #f8e0e4;
}

.form-group #lname-invalid {
    background: #f8e0e4;
}

.form-group #nickname-invalid {
    background: #f8e0e4;
}

.user-profile-preview {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sign-up-form #signup-button:active{
    background: #fd4555;
}

