.SignUp {
    margin-top: 100px;
}

.form-control {
    min-height: 41px;
    background: #fff;
    box-shadow: none !important;
    border-color: #e3e3e3;
}
.form-control:focus {
    border-color: #708bc5;
}
.form-control,
.btn {
    border-radius: 2px;
}

.SignUpForm {
    width: 350px;
    margin: 0 auto;

    color: #7a7a7a;
    border-radius: 2px;
    margin-bottom: 15px;
    font-size: 13px;
    background: #ececec;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    position: relative;
}
.SignUpForm h2 {
    font-size: 22px;
    margin: 35px 0 25px;
}
.SignUpForm .Avatar {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -50px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #708bc5;
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.SignUpForm .Avatar img {
    width: 100%;
}
.SignUpForm input[type='checkbox'] {
    margin-top: 2px;
}
.SignUpForm .btn {
    font-size: 16px;
    font-weight: bold;
    background: #708bc5;
    border: none;
    margin-bottom: 20px;
}
.SignUpForm .btn:hover,
.login-form .btn:focus {
    background: #5060b8;
    outline: none important;
}

.SignUpForm .Remember {
    text-align: left;
}

.SignUpForm .ForgotPW {
    padding-left: 80px;
    color: #7a7a7a;
}

.SignUpForm a:hover {
    text-decoration: underline;
}
.SignUpForm form a {
    color: #7a7a7a;
    text-decoration: none;
}
.SignUpForm form a:hover {
    text-decoration: underline;
}
