.UserInfo {
    margin-top: 80px;
    margin-bottom: 100px;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.ReceptionTable {
    font-size: 1.1em;
}

.UserInfo .section-wrapper {
    margin: 30px 10px 30px 10px;
    padding: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #dadada;
}

.UserInfo .adlist-box {
    width: 100%;
}

.UserInfo .adresult-box {
    width: 100%;
}

.ReceptionTable td {
    overflow: hidden;
    height: 1.2em;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#table_contents:hover {
    cursor: pointer;
    background: #f0f1f2;
}

.UserInfo #tag-link {
    padding: 0;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 5px;
}

.UserInfo .tag-items {
    list-style-type: none;
    display: inline-block;
    margin-right: 3px;
}

.UserInfo .tag-items:hover {
    color: #fa4252;
    cursor: pointer;
    transition: 0.3s;
}

.UserInfo .user-info-box {
    display: flex;
}

.UserInfo .Avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #7a7a7a;
}

.UserInfo .title-text {
    text-align: left;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 25px;
    font-weight: 600;
}

.UserInfo .main-user-wrapper {
    display: flex;
}

.UserInfo h2 {
    font-size: 15px;
    color: #7a7a7a;
    font-weight: 300;
    margin-bottom: 1px;
}

.UserInfo .user-name-aggregated {
    padding-top: 12px;
}

.UserInfo .PreviewList {
    width: 100%;
}

.UserInfo .Preview {
    width: calc(33% - 34px);
}

.UserInfo #card-more-btn {
    width: calc(33% - 34px);
}

.UserInfo .list-title {
    text-align: left;
    margin: 10px 0 0 30px;
}

.UserInfo .title-under-line {
    width: 70px;
    border-top: 2px solid #fa4252;
    margin: 20px 0 30px 30px;
}

.UserInfo td #link {
    overflow: scroll;
    width: 30px;
}

.UserInfo .hover-btn:hover {
    cursor: pointer;
}

.UserInfo .small-btn {
    margin-left: 5px;
}

.UserInfo .color-black {
    color: #000000;
}

.UserInfo .point-state-wrapper,
.edit-user-wrapper {
    margin-left: 20px;
    display: flex;
}

.UserInfo #point-integer {
    display: block;
}
