body {
    background: #fff;
    padding-top: 0%;
}
.form-fixed {
    font-size: 16px;
    color: black;
    min-height: 41px;
    box-shadow: none !important;
}

.form-select {
    font-size: 13px;
    margin: 20px 0 -20px;
    color: black;
    box-shadow: none !important;
}

.UserDetail .tagSelect .react-tags {
    width: 100%;
    background: white;
}

.form-control {
    min-height: 41px;
    background: #fff;
    box-shadow: none !important;
    border-color: #e3e3e3;
}
.form-control:focus {
    border-color: #fa4252;
}
.form-control,
.btn {
    border-radius: 2px;
}

.UserDetail {
    width: 350px;
    margin: 150px auto 100px auto;

    color: #7a7a7a;
    border-radius: 2px;
    font-size: 13px;
    background: #ececec;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    position: relative;
}
.UserDetail h2 {
    font-size: 22px;
    margin: 35px 0 25px;
}
.UserDetail h6 {
    color: #000000;
}
.UserDetail .Avatar {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -50px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #7a7a7a;
    padding: 0px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.UserDetail .Avatar img {
    width: 100%;
}

.UserDetail .btn {
    font-size: 16px;
    font-weight: bold;
    background: #fa4252;
    border: none;
    margin-bottom: 20px;
}
.UserDetail .btn:hover,
.login-form .btn:focus {
    background: #f03757;
    outline: none important;
}
.UserDetail a:hover {
    text-decoration: underline;
}
.UserDetail form a {
    color: #7a7a7a;
    text-decoration: none;
}
.UserDetail form a:hover {
    text-decoration: underline;
}
