.PreviewList {
    width: 980px;
    margin: 0 auto;
    padding: 0;
    display: block;
    text-align: center;
}

.PreviewList .list-title {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: -0.6px;
    color: #212529;
    text-align: center;
    margin-bottom: 40px;
}

.PreviewList .title-under-line {
    width: 70px;
    border-top: 2px solid #fa4252;
    margin: 0 auto;
    margin-bottom: 50px;
}

.PreviewList #card-more-btn {
    text-align: center;
    vertical-align: top;
    position: relative;
    display: inline-block;
    border-radius: 8px;
    border: 1px solid #e9ecef;
    width: calc(25% - 34px);
    margin-right: 17px;
    margin-left: 17px;
    margin-bottom: 40px;
}

.PreviewList #card-more-btn #card-more-text {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.6px;
    padding: 88px 0;
}

.PreviewList #card-more-btn:hover {
    cursor: pointer;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1); /* 그림자 */
    transition: 0.3s;
}

.PreviewList #card-more-btn #card-more-text #more-text {
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.6px;
}

.PreviewList #card-more-btn #card-more-text #plus-btn {
    text-align: center;
    font-size: 60px;
    font-weight: 350;
    line-height: 1.5;
    letter-spacing: -0.6px;
}
